<%- include("../layout/head") %>


<link rel="stylesheet" href="/css/body.css">

  <body>
    <div class="aside" style="border: none;">
      <%- include("../layout/aside_admin") %>
    </div>
    <div class="content">
      <%- include("../layout/nav_admin") %>
      <!-- <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Thông tin tài khoản</h1>
    </div> -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
  
  </div>
    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              Lượt truy cập</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800"><SCRIPT>page_counter(jcount);</SCRIPT></div>
                      </div>
                      <div class="col-auto">
                        <i class="fa fa-signal" aria-hidden="true"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Sản phẩm</div>
                          
                              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= danhsach.length %></div>
                           
                         
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Khách hàng
                          </div>
                          <div class="row no-gutters align-items-center">
                              <div class="col-auto">
                                  <%= listuser.length %>
                              </div>
                             
                          </div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Pending Requests Card Example -->

  </div>
  <div class="profile" style="margin-left: 15%;">
    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Hộp thư đến</h1>
 <br><br>
</div> 
<h4>Thư đc gửi từ: <%= list.name %></h4> 
<p> (<%= list.email %>) <p>
      <h3> <%= list.title %> </h3>
      <p> <%= list.note %></p>
      <!-- LOCAL INFORMATION -->
  
<button type="button"> Trả lời</button>

  </div>
 
      
      </div>
      
       
  


        
</body>
 

