<%- include("../layout/head") %>
<link rel="stylesheet" href="/css/body.css">
<body>

  <%- include("../layout/aside_admin") %>
  

  <!-- Use any element to open the sidenav -->
  
  
  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div id="main">
  
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div id="Home">
    <div class="container"> 
  
  
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Hộp thư đến</h1>
       <br><br>
    </div> 
    <h4>Thư đc gửi từ: <%= list.name %></h4> 
    <p> (<%= list.email %>) <p>
            <h3> <%= list.title %> </h3>
            <p> <%= list.note %></p>
            <!-- LOCAL INFORMATION -->
        
      <button type="button"> Trả lời</button>
   
    </div>



<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>   
</body>
 
