<%- include("../layout/head") %>




  <body>
    <div class="aside" style="border: none;">
      <%- include("../layout/aside_admin") %>
    </div>
    <div class="content">
      <%- include("../layout/nav_admin") %>
  
  <div class="profile">
    <div class="container">
      <h2 style="color: red;">Danh sách đơn hàng</h2>

       <table id="example" class="display table table-hover table-condensed">
           <thead>
               <tr>
                   <th>ID</th>
                   <th >Họ tên</th>
                   <th >Địa chỉ</th>
                   <th >Ngày mua</th>
                   <th >Trạng thái</th>
                   <th>Tùy chọn</th>
               </tr>
           </thead>
           <tbody>
               <% var i = 0 %>
               <% data.forEach(function(item){ i ++%>
               <tr>
                   <td><%= i %></td>
                   <td ><%= item.name%></td>
                   <td><%= item.address%></td>
                   <td><%= item.date.getDate()%>/ <%= item.date.getMonth() +1 %> / <%= item.date.getFullYear()%> </td>
                   <td >
                       <% if(item.st == 0){ %>
                         <span> Đang chờ xử lý</span>
                       <%}else{ %>
                           <span>Đã xác nhận</span>
                       <%}%>  
                   </td>
                   <td>
                       <a href="/view/<%= item._id %>">Xem</a> |  
                       <a href="/xoa/<%= item._id %>">Xóa</a>
                   </td>
               </tr>
               <%})%>
           </tbody>
         </table>

   </div>
  </div>
 
      
      </div>
      
       
  


        
</body>
 
