<%- include("../layout/head") %>

<link rel="stylesheet" href="css/body.css">
  <%- include("../layout/nav") %>

  

    

<!------------------->
      <div class="container">
       
<!-- Header End -->

     <!--  breadcrumb -->      
      <h1 class="heading1" style="padding:2%; color: red;"><span class="maintext"> </span><span class="subtext"> 
        
        Chi tiết mua hàng</span></h1>
      <hr>
      <!-- Cart-->
      <div class="cart-info">
        <table class="table table-striped table-bordered">
          <tr>
           
                <th>ID</th>
                <th>Name</th>
                <th>Hình</th>
                <th>Số Lượng</th>
                <th>Tiền</th>
           
          </tr>
          <tbody>
            <% var id = 0; var total = 0 %>
            <% cart.cart.forEach(function(item){ id ++; total += item.price;%>
            <tr>
                <td><%= id%></td>
                <td><%= item.item.name%></td>
                <td> <img src="/upload/<%= item.item.image%>" width="150px" alt=""></td>
                <td><%= item.qty%></td>
                <td><%= item.price%>đ</td>
            </tr>
            <%})%>

            <tr>
                <td colspan="5">
                    <p><strong style="color:red">Tồng Tiền: </strong> <%= total %>đ</p>
                </td>
            </tr>
        </tbody>

        </table>
      </div>
  
 


    </div>
 


    <%- include("../layout/footer") %>
